
    <section class="container-fluid formSearch mt-2">
      <div class="row">
        <div class="col-sm-2 col-4">
          <div class="form-group">
            <button id="searchModal" title="بحث" type="button" class="btn btn-primary buttonSearch" data-toggle="modal" data-target="#exampleModalSearch"><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="col-sm-2 col-4" permission="add_students">
          <div class="form-group">
            <button  title="إضافة" type="button" class="btn btn-primary buttonSearch" routerLink="add"><i class="fas fa-plus"></i></button>
          </div>
        </div>
        <div class="col-sm-2 col-4" permission="add_students">
          <div class="form-group">
            <button title="رفع بإكسيل" type="button" class="btn btn-primary buttonSearch" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-file-excel"></i></button>
          </div>
        </div>
        <div class="col-sm-2 col-3" permission="print_students">
          <div class="form-group">
            <button onclick="window.print()" title="طباعه" type="button" class="btn btn-primary buttonSearch"><i class="fas fa-print"></i></button>
          </div>
        </div>
        <div class="col-sm-2 col-3" permission="export_students">
          <div class="form-group">
            <button (click)="getStudentsNumbers()" title="أعداد الطلاب" type="button" class="btn btn-primary buttonSearch" data-toggle="modal" data-target="#exampleModalExport"><i class="fas fa-hourglass-half"></i></button>
          </div>
        </div>
        
        <div class="col-sm-1 col-3">
          <div class="form-group">
            <button routerLink=".." title="رجوع للخلف" type="button" class="btn btn-primary buttonSearch"><i class="fas fa-backward"></i></button>
          </div>
        </div>
      </div>
    </section>
   
<div permission="add_students" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabelExcel">إضافة إكسيل طلبة</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-upload-students permission="add_students"></app-upload-students>
  </div>
</div>
</div>
<div permission="export_students" class="modal fade" id="exampleModalExport" tabindex="-1" aria-labelledby="exampleModalLabelExport" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabelExport">أعداد الطلاب</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-export-students [loadNumberReport]="loadNumberReport" [divisionName]="divisionName" [levelName]="levelName" [nameSearch]="nameSearch" [numbers]="numbers" permission="export_students"></app-export-students>
  </div>
</div>
</div>
<div permission="show_students" class="modal fade" id="exampleModalSearch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">بحث</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="studentForm" (submit)="search(studentForm.value)">
        <div class="modal-body">
          <div class="form-group" style="position: relative;">
            <label  class="col-form-label">بحث بالطالب :</label>
            <input (focus)="handleFocusSearch($event.target)" (blur)="handleBlurSearch()" placeholder="بحث بالطالب" (keyup)="getStudentSearch($event.target)"  title="بحث بالطالب" class="form-control" [value]="nameSearch" [ngClass]="{'is-invalid': searchValue && !studentForm.controls['student_id'].value}">
        <div class="data_select shadow" *ngIf="optionsSearch" (mousedown)="setOptionsClickedSearch(true)" (mouseup)="setOptionsClickedSearch(false)">
          <div style="color: gray;padding: 5px;cursor: default;">إختر الطالب <span *ngIf="loadSearch" class="spinner-border spinner-border-sm mt-1" role="status" aria-hidden="true"></span></div>
          <div class="data_select_option" *ngFor="let student of studentsSearch" (click)="setDataStudentSearch(student.id, student.name)">{{student.name}}</div>
        </div>
          </div>
          <div class="form-group">
            <label  class="col-form-label">بحث بالمستوي :</label>
            <select formControlName="level_id" title="بحث بالمستوي" class="form-control" >
              <option disabled selected value="">بحث بالمستوي</option>
              <option value="">الكل</option>
              <option *ngFor="let level of levels" [value]="level.id">{{level.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label  class="col-form-label">بحث بالشعبة :</label>
            <select formControlName="division_id" title="بحث بالشعبة" class="form-control" >
              <option disabled selected value="">بحث بالشعبة</option>
              <option value="">الكل</option>
              <option *ngFor="let division of divisions" [value]="division.id">{{division.name}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button id="closeSearch" type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>
          <button id="submit" type="submit"  class="btn btn-success">بحث</button>
        </div>
      </form>
    </div>
  </div>
  </div>
