<section>
    <main class="bl_page404">
        <h1>هذه الصفحة غير متوفرة</h1>
        <p dir="rtl">آسف! الصفحة التي تبحث عنها لا يمكن العثور عليها . ربما تم نقل الصفحة التي طلبتها أو حذفها. من الممكن أيضًا أن تكون قد ارتكبت خطأ إملائيًا صغيرًا عند إدخال العنوان . اذهب إلى الصفحة الرئيسية.
        </p>
        <div class="bl_page404__wrapper">
          <img loading="lazy" width="100%" src="../../../../assets/images/cloud_warmcasino.png" alt="cloud_warmcasino.png">
          <div class="bl_page404__el1"></div>
          <div class="bl_page404__el2"></div>
          <div class="bl_page404__el3"></div>
          <a class="bl_page404__link" routerLink="">الصفحة الرئيسية</a>
        </div>
      </main>
</section>
