form{
  .form-group{
    margin-bottom: 0.1rem;
  }
  input{
    box-shadow: none !important;
    height: 35px;
  }
  button{
    box-shadow: none !important;
  }
}
.tab-content{
  text-align: right;
  border: 1px dashed black;
  border-radius: 15px;
}
.nav-link{
  border-radius: 15px;
}
